*.egg-info
*.mo
*.pyc
*~
.installed.cfg
.mr.developer.cfg
Makefile.local
bin/
coverage/
develop-eggs/
downloads/
eggs/
parts/
var/
include/
lib/
.project
.pydevproject
.settings
local.cfg
src/collective.*
src/plone.*
