[versions]
# Plone 4.2 only (overridden in Plone 4.3)
collective.js.jqueryui = 1.8.16.9

[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/travis-4.x.cfg
    https://raw.github.com/collective/buildout.plonetest/master/qa.cfg

package-name = collective.nitf
package-extras = [test]
package-min-coverage = 90
test-eggs = Pillow

parts +=
    coverage-sh
    createcoverage
    node

[code-analysis]
directory = ${buildout:directory}/src/collective/nitf
pre-commit-hook = False
csslint = True
csslint-bin = ${buildout:directory}/bin/csslint
flake8-ignore = E501
imports = True
zptlint = True
zptlint-bin = ${buildout:directory}/bin/zptlint

[versions]
plone.app.layout = 2.3.10
