/* this file needs to be converted to DTML */

.newsImage.nitf {
    cursor: pointer;
    }

#media-bar {
    margin: 0 auto;
    width: 500px;
    }

#media-bar .thumbnails {
    margin-bottom: 20px;
    }

/* TODO: fix background URL property */
/* next/prev buttons */
.navi {
    background: url(/++resource++collective.nitf/images/hori_large.png) no-repeat;
    width: 30px;
    height: 30px;
    float: left;
    margin: 40px 5px;
    }

.navi:hover {
    background-position: -30px 0;
    }

.navi:active {
    background-position: -60px 0;
    }

.next {
    background-position: 0 -30px;
    clear: right;
    }

.next:hover {
    background-position: -30px -30px;
    }

.next:active {
    background-position: -60px -30px;
    }

.navi.disabled {
    visibility: hidden;
    }

/******* NEWSITEM/MEDIA VIEWS *****/
#mediabox {
    background-color: #ffffff;
    border: 1px solid #D9D9D9;
    width: 500px;
    height: 500px;
/*    position: absolute;*/
    display: none;
    margin: 0 auto;
}
body.template-view #mediabox {
    box-shadow: 0 0 3em 0.5em #666666;
    -moz-box-shadow: 0 0 3em 0.5em #666666;
    -webkit-box-shadow: 0 0 3em #666666;
    }

body.template-gallery #mediabox {
    display: table;
}

.mediaview #mediabox {
    display: block;
    margin-bottom: 1em;
    }

#mediabox #images {
    position: absolute;
    overflow: hidden;
    margin: 50px;
    width: 400px;
    height: 400px;
    }

#mediabox #images .items div {
/* float:left; */
    display: inline-block;
    }

#mediabox #images .items div span,
body.template-gallery #mediabox span {
    display: table-cell;
    vertical-align: middle;
    width: 400px;
    height: 400px;
    text-align: center;
    }

#mediabox #images .items img:hover {
    cursor: pointer;
    }

/* next/prev buttons */
#mediabox .navi {
    clear: none;
    width: 30px;
    height: 30px;
    float: left;
    margin: 40px 5px;
    position: absolute;
    bottom: -30px;
/*
    position: absolute;
    bottom: 33px;
    left: 50px;
*/
    }

#mediabox .next {
    right: 0px;
    }

#mediabox #images .items .info {
    float: none;
    display: none;
    background: #333;
    color: #fff;
    font-size: 13px;
    margin: -50px 0 0 30px;
    padding: 5px 0px;
    height: 125px;
    width: 400px;
    }

#mediabox #images .items .info h3 {
    color: #cde;
    margin-top: 10px;
    }

#mediabox #images .items .info p {
    text-align: justify;
    font-size: 11px;
    }

.navibuttons {
    display: block;
    bottom: -460px;
    position: relative;
    }

/* next/prev buttons */
#mediabox .navibuttons .navi {
    clear: none;
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 5px;
    position: inherit;
    bottom: auto;
/*
    position: absolute;
    bottom: 33px;
    left: 50px;
*/
    }

#mediabox .navibuttons .next {
    float: right;
    }

/* used in media_sorter.pt */
.sortable-media {
    list-style-type: none !important;
    margin: 0 !important;
    padding: 0;
    }

.sortable-media li {
    border: 1px solid silver;
    float: left;
    height: 128px;
    margin: 0 10px 10px 0;
    padding: 4px;
    width: 128px;
    background-color:#FFF;
    }
.sortable-media li:hover .btn{
    visibility:visible;
}
.sortable-media .draggable-item {
    cursor: move;
    height: 90px;
    overflow: hidden;
    display: block;
    border:medium none;
    }

.sortable-media .btn,
.sortable-media .btn:hover {
    color:#FFF !important;
    padding:3px 10px;
    border:1px solid #75AD0A;
    float:right;
    }
    
.sortable-media .btn {
    visibility:hidden;
}
.btn {
    cursor: pointer;
    display: inline-block;
    background-color: #E6E6E6;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
    background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    padding: 5px 14px 6px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    color: #333;
    font-size: 13px;
    line-height: normal;
    border: 1px solid #CCC;
    border-bottom-color: #BBB;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    -ms-transition: 0.1s linear all;
    -o-transition: 0.1s linear all;
    transition: 0.1s linear all;
    margin-top:10px;
}
.btn.success {
    background-color: #75AD0A;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#75AD0A));
    background-image: -moz-linear-gradient(top, #62c462, #75AD0A);
    background-image: -ms-linear-gradient(top, #62c462, #75AD0A);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #75AD0A));
    background-image: -webkit-linear-gradient(top, #62c462, #75AD0A);
    background-image: -o-linear-gradient(top, #62c462, #75AD0A);
    background-image: linear-gradient(top, #62c462, #75AD0A);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#75AD0A', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #75AD0A #75AD0A #3D773D;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
