/* this file needs to be converted to DTML */

.newsImage.nitf {
    cursor: pointer;
}

.portaltype-collective-nitf-content .newsImageContainer {
    position:relative;
}

.portaltype-collective-nitf-content .newsImageContainer  .magnify {
    background:transparent url(images/search-ico.png) no-repeat;
    display:block;
    height:13px;
    width:13px;
    position:absolute;
    top:5px;
    right:5px;
}

/* used in media_sorter.pt */
.sortable-media {
    list-style-type: none !important;
    margin: 0 !important;
    padding: 0;
}

.sortable-media li {
    border: 1px solid silver;
    float: left;
    height: 128px;
    margin: 0 10px 10px 0;
    padding: 4px;
    width: 128px;
    background-color:#FFF;
    position:relative;
}
.sortable-media li:hover .button{
    visibility:visible;
}
.sortable-media .draggable-item {
    cursor: move;
    height: 90px;
    overflow: hidden;
    display: block;
    border:medium none;
    }

.sortable-media .button,
.sortable-media .button:hover {
    color:#FFF !important;
    padding:3px 10px 3px 5px;
    float:right;
    margin-top:6px;
    background-color:#999;
}

.sortable-media .button{
    visibility:hidden;
    right: 0;
}
.button .icon {
    height: 15px;
    width:13px;
    float:left;

}
.button.edit {
    background: none repeat scroll 0 0 #75AD0A;
}
.button.edit .icon{
    background: url(images/icons-media.png) no-repeat scroll 0 top transparent;
    line-height: 50px;
    margin-right: 5px;
    margin-top: 4px;
}
.button.delete {
    position:absolute;
    top:0;
    right:0;
    background-color: #C43C35;
}
.button.delete .icon{
    background: url(images/icons-media.png) no-repeat scroll -15px top transparent;
    line-height: 50px;
    margin-right: 5px;
}
