/* this file needs to be converted to DTML */

.newsImage.nitf
{
    cursor: pointer;
}

.portaltype-collective-nitf-content .newsImageContainer
{
    position: relative;
}

.portaltype-collective-nitf-content .newsImageContainer  .magnify
{
    position: absolute;
    top: 5px;
    right: 5px;

    display: block;

    width: 13px;
    height: 13px;

    background: transparent url(++resource++collective.nitf/images/search-ico.png) no-repeat;
}

/* used in media_sorter.pt */
.sortable-media
{
    margin: 0 !important;
    padding: 0;

    list-style-type: none !important;
}

.sortable-media li
{
    position: relative;

    float: left;

    width: 128px;
    height: 128px;
    margin: 0 10px 10px 0;
    padding: 4px;

    border: 1px solid silver;
    background-color: #fff;
}
.sortable-media li:hover .button
{
    visibility: visible;
}
.sortable-media .draggable-item
{
    display: block;
    overflow: hidden;

    height: 90px;

    cursor: move;

    border: medium none;
}

.sortable-media .button,
.sortable-media .button:hover
{
    float: right;

    margin-top: 6px;
    padding: 3px 10px 3px 5px;

    color: #fff !important;
    background-color: #999;
}

.sortable-media .button
{
    right: 0;

    visibility: hidden;
}
.button .icon
{
    float: left;

    width: 13px;
    height: 15px;
}
.button.edit
{
    background: none repeat scroll 0 0 #75ad0a;
}
.button.edit .icon
{
    line-height: 50px;

    margin-top: 4px;
    margin-right: 5px;

    background: url(++resource++collective.nitf/images/icons-media.png) no-repeat scroll 0 top transparent;
}
.button.delete
{
    position: absolute;
    top: 0;
    right: 0;

    background-color: #c43c35;
}
.button.delete .icon
{
    line-height: 50px;

    margin-right: 5px;

    background: url(++resource++collective.nitf/images/icons-media.png) no-repeat scroll -15px top transparent;
}

/* Cycle2 Slideshow */
.portaltype-collective-nitf-content.template-slideshow_view .slideshow-container
{
    position: relative;

    max-width: 768px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.portaltype-collective-nitf-content.template-slideshow_view .cycle-slideshow,
.portaltype-collective-nitf-content.template-slideshow_view .cycle-slideshow *
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.portaltype-collective-nitf-content.template-slideshow_view .slide.cycle-slide
{
    overflow: hidden;

    max-width: 100%;
}
.portaltype-collective-nitf-content.template-slideshow_view .slide.cycle-slide > a
{
    line-height: 0;
}
/* Prev/Next arrows */
.portaltype-collective-nitf-content.template-slideshow_view #content a.cycle-prev,
.portaltype-collective-nitf-content.template-slideshow_view #content a.cycle-next
{
    font-size: 50px;

    position: absolute;
    z-index: 800;
    top: 0;

    width: 10%;
    height: 100%;

    cursor: pointer;
    text-align: center;

    opacity: 0;
    border-bottom: 0 !important;

    filter: alpha(opacity=0);
}
.portaltype-collective-nitf-content.template-slideshow_view #content a.cycle-prev:hover,
.portaltype-collective-nitf-content.template-slideshow_view #content a.cycle-next:hover
{
    opacity: .5;

    filter: alpha(opacity=50);
}
.portaltype-collective-nitf-content.template-slideshow_view #content a.cycle-prev
{
    left: 0;
}
.portaltype-collective-nitf-content.template-slideshow_view #content a.cycle-next
{
    right: 0;
}
.portaltype-collective-nitf-content.template-slideshow_view #content a.cycle-prev span,
.portaltype-collective-nitf-content.template-slideshow_view #content a.cycle-next span
{
    position: absolute;
    top: 50%;
}
.portaltype-collective-nitf-content.template-slideshow_view #content a.cycle-prev span
{
    left: 10px;
}
.portaltype-collective-nitf-content.template-slideshow_view #content a.cycle-next span
{
    right: 10px;
}
/* Description */
.portaltype-collective-nitf-content.template-slideshow_view .slideshow-description,
.portaltype-collective-nitf-content.template-slideshow_view .slideshow-carrossel
{
    float: left;

    width: 50%;
}
.portaltype-collective-nitf-content.template-slideshow_view .cycle-description.cycle-slideshow
{
    background: transparent;
}
/* Thumbs */
.portaltype-collective-nitf-content.template-slideshow_view .cycle-carrossel .thumb-itens
{
    overflow: hidden;

    width: 100px;
    max-height: 70px;
    margin-right: 5px;

    cursor: pointer;

    background: #f1f1f1;
}
.portaltype-collective-nitf-content.template-slideshow_view .cycle-carrossel .thumb-itens img
{
    display: block;

    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 50px;
    margin: 0 auto;
}
a.edit-tile-link
{
    z-index: 150;
}
.portaltype-collective-nitf-content.template-slideshow_view .cycle-pager-container
{
    position: absolute;
    z-index: 110;
    top: 0;

    width: 100%;

    text-align: center;
}
.portaltype-collective-nitf-content.template-slideshow_view .cycle-pager
{
    display: inline-block;

    margin: 0 auto;
    padding: 8px;
}
.portaltype-collective-nitf-content.template-slideshow_view .cycle-pager > span
{
    cursor: pointer;
}
.portaltype-collective-nitf-content.template-slideshow_view .cycle-pager .cycle-pager-active
{
    opacity: 1;
}
.portaltype-collective-nitf-content.template-slideshow_view .cycle-pager-container.thumbnails_square .cycle-pager
{
    background: white;
}
.portaltype-collective-nitf-content.template-slideshow_view .cycle-pager-container.thumbnails_square .cycle-pager img
{
    margin-right: 8px;

    border-radius: 5px;
}
.portaltype-collective-nitf-content.template-slideshow_view .cycle-pager-container.thumbnails_square .cycle-pager a:last-child img
{
    margin-right: 0;
}
.portaltype-collective-nitf-content.template-slideshow_view .cycle-pager-container.numbers .cycle-pager
{
    opacity: .6;
    background-color: #222;
}
.portaltype-collective-nitf-content.template-slideshow_view #content .cycle-pager-container.numbers a:link
{
    font-size: 1.25em;

    padding: 0 .25em;

    color: white;
}
.portaltype-collective-nitf-content.template-slideshow_view .cycle-caption
{
    position: absolute;
    z-index: 120;
    top: 15px;
    right: 15px;

    color: white;
}
.portaltype-collective-nitf-content.template-slideshow_view .cycle-overlay
{
    position: absolute;
    z-index: 120;
    bottom: 0;

    width: 100%;
    padding: 15px 0;

    opacity: .5;
    color: white;
    background: none repeat scroll 0 0 black;
}
.portaltype-collective-nitf-content.template-slideshow_view .cycle-overlay > div
{
    padding: 0 15px;
}
/* Stop overlay being bigger than slides */
.portaltype-collective-nitf-content.template-slideshow_view .slide.cycle-sentinel
{
    min-height: 6em;
}
.contentActions
{
    z-index: 130;
}
/* Hide Image position widget & Image visibility widget */
#formfield-covertile-cycle2-carousel-image .visibility-box,
#covertile-cycle2-carousel-image-imgsize + span,
#covertile-cycle2-carousel-image-position
{
    display: none;
}

.wrapper-slideshow
{
    float: left;

    min-width: 100%;
}

.portaltype-collective-nitf-content.template-slideshow_view .cycle-player
{
    position: relative;

    width: 100%;
    max-width: 768px;
    height: auto;
    padding: 0;

    background: #f1f1f1;
}
.portaltype-collective-nitf-content.template-slideshow_view .cycle-slideshow .slide,
.portaltype-collective-nitf-content.template-slideshow_view .cycle-slideshow .slide img
{
    min-width: 100%;
}
.portaltype-collective-nitf-content.template-slideshow_view .cycle-player .cycle-slide
{
    width: 100%;
}
.portaltype-collective-nitf-content.template-slideshow_view .cycle-player img
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    padding: 0;
}
.portaltype-collective-nitf-content.template-slideshow_view .cycle-slideshow .cycle-slide img
{
    position: relative;
    top: 0;
    left: 0;

    display: block;

    padding: 0;
}
.portaltype-collective-nitf-content.template-slideshow_view #content-core
{
    clear: both;
}

/* Stop Flash of unstyled content */
.portaltype-collective-nitf-content.template-slideshow_view .cycle-slideshow .slide
{
    display: none;
}

/* Stops pagers being misplaced when multiple carousel tiles on page */
.tile
{
    position: relative;
}
