/* used in media_sorter.pt */
.sortable-media {
  margin: 0 !important;
  padding: 0;

  list-style-type: none !important;

  li {
    position: relative;

    float: left;

    width: 128px;
    height: 128px;
    margin: 0 10px 10px 0;
    padding: 4px;

    border: 1px solid silver;
    background-color: #FFF;
    &:hover .button {
      visibility: visible;
    }
  }
  .draggable-item {
    display: block;
    overflow: hidden;

    height: 90px;

    cursor: move;

    border: medium none;
  }
  .button {
    right: 0;

    visibility: hidden;
    float: right;

    margin-top: 6px;
    padding: 3px 10px 3px 5px;

    color: #FFF !important;
    background-color: #999;
    &:hover {
      float: right;

      margin-top: 6px;
      padding: 3px 10px 3px 5px;

      color: #FFF !important;
      background-color: #999;
    }
    .icon {
      float: left;

      width: 13px;
      height: 15px;
    }
    &.edit {
      background: none repeat scroll 0 0 #75AD0A;
      .icon {
        line-height: 50px;

        margin-top: 4px;
        margin-right: 5px;

        background: url(images/icons-media.png) no-repeat scroll 0 top transparent;
      }
    }
    &.delete {
      position: absolute;
      top: 0;
      right: 0;

      background-color: #C43C35;
      .icon {
        line-height: 50px;

        margin-right: 5px;

        background: url(images/icons-media.png) no-repeat scroll -15px top transparent;
      }
    }
  }
}

/* Cycle2 Slideshow */
.portaltype-collective-nitf-content.template-slideshow_view {
  .slideshow-player {
    position: relative;
  }

  .slide.cycle-slide {
    overflow: hidden;

    max-width: 100%;
    > a {
      line-height: 0;
    }
  }

  /* Prev/Next arrows */
  #content a.cycle-prev,
  #content a.cycle-next {
    position: absolute;
    z-index: 110;
    top: 0;
    bottom: 0;

    overflow: hidden;

    width: 15%;

    cursor: pointer;
    white-space: nowrap;
    text-indent: 101%;

    opacity: .7;
    border: none;
  }

  .cycle-prev {
    left: 0;

    background: url(images/prev-arrow.svg) no-repeat scroll 20% 50% rgba(0, 0, 0, 0);
  }

  .cycle-next {
    right: 0;

    background: url(images/next-arrow.svg) no-repeat scroll 80% 50% rgba(0, 0, 0, 0);
  }

  .cycle-prev:hover,
  .cycle-next:hover {
    opacity: 1;
  }

  .cycle-carrossel .thumb-itens {
    min-width: 128px;
    margin-right: 5px;

    cursor: pointer;
  }

  a.edit-tile-link {
    z-index: 150;
  }

  .cycle-pager-container {
    position: absolute;
    z-index: 110;
    top: 0;

    width: 100%;

    text-align: center;
  }

  .cycle-pager {
    display: inline-block;

    margin: 0 auto;
    padding: 8px;
    > span {
      cursor: pointer;
    }
    .cycle-pager-active {
      opacity: 1;
    }
  }

  .cycle-pager-container {
    &.thumbnails_square .cycle-pager {
      background: white;

      a:last-child img {
        margin-right: 0;
      }
      img {
        margin-right: 8px;

        border-radius: 5px;
      }
    }
    &.numbers .cycle-pager {
      opacity: .6;
      background-color: #222;
    }
  }

  #content .cycle-pager-container.numbers a:link {
    font-size: 1.25em;

    padding: 0 .25em;

    color: white;
  }

  .cycle-caption {
    position: absolute;
    z-index: 120;
    top: 15px;
    right: 15px;

    color: white;
  }

  .cycle-overlay {
    position: absolute;
    z-index: 120;
    bottom: 0;

    width: 100%;
    padding: 15px 0;

    opacity: .5;
    color: white;
    background: none repeat scroll 0 0 black;
    > div {
      padding: 0 15px;
    }
  }

  /* Stop overlay being bigger than slides */
  .slide.cycle-sentinel {
    min-height: 6em;
  }

  .wrapper-slideshow {
    float: left;

    min-width: 100%;
  }

  .cycle-slideshow {
    .cycle-slide {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      img {
        position: relative;
        top: 0;
        left: 0;

        display: block;

        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 100%;
        padding: 0;
      }
    }
    /* Stop Flash of unstyled content */
    .slide {
      display: none;

      min-width: 100%;
      img {
        min-width: 100%;
      }
    }
  }

  .slideshow-container {
    display: flex;
    flex-direction: column;

    width: 768px;
    max-width: 100%;
    margin: 0 auto;
  }

  .slideshow-player {
    position: relative;
    .cycle-slide {
      display: flex !important;

      align-items: center;
      justify-content: center;
    }
  }

  .slideshow-carrossel .cycle-slide {
    display: flex !important;

    align-items: center;
    justify-content: center;
  }

  .cycle-carousel-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
  }
}
